<div class='row-fluid'>
  <div class="span9">
    <% if @posts.any? %>
      <section id="blog_posts">
        <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
        <%= will_paginate @posts %>
      </section>
    <% else %>
      <p><%= t('.no_blog_articles_yet') %></p>
    <% end %>
  </div>
  <%= render :partial => '/refinery/blog/shared/body_content_right' %>

  <%= render :partial => "/refinery/content_page" %>
</div>
